/*========================================================

[Theme Color Stylesheet]

Project     : CryptoCloud
Version     : 1.3
Author      : ThemeLooks
Author URI  : https://themeforest.net/user/themelooks

========================================================*/

a,
a:hover,
.header-style-two .header-menu > ul > li.active > a, 
.header-style-three .header-menu > ul > li.active > a,
.sticking.header-style-two .header-menu > ul > li:hover > a, 
.sticking.header-style-three .header-menu > ul > li:hover > a, 
.sticking.header-style-two .header-menu > ul > li.active > a, 
.sticking.header-style-three .header-menu > ul > li.active > a,
.header-menu ul ul li:hover > a, 
.header-menu ul ul li > a:hover, 
.header-menu ul ul li.active > a,
.header-style-two .header-menu > ul > li:hover > a, 
.header-style-two .header-menu > ul > li > a:hover, 
.header-style-three .header-menu > ul > li:hover > a, 
.header-style-three .header-menu > ul > li > a:hover,
.main-banner-style-two .scroll-down p i,
.dc-amount li span,
.single-ch-plan ul li i.fa-times,
.single-ch-plan-style-two p span.price,
.home-review-slider-two .swiper-slide:before,
.single-latest-news h2 a:hover,
.footer-social-icons li a:hover,
.copyright a,
.copyright a:hover,
.jqvmap-pin i,
.register-button a,
.register-button a:hover,
.single-ch-plan:hover h3,
.home-review-slider:before,
.vps-pricing-plans li:before,
.domain-names ul ul li:nth-child(2),
.pagination li.active a, 
.pagination li a:hover,
.sidebar-list li a:hover,
.single-popular-post-info a:hover,
.share-icons li a:hover,
.author-info ul li a:hover,
.about-us > ul li a:hover, 
.about-us > ul li a.active,
.about-us a.read-more:hover,
.about-us a.read-more span,
.team-nav li a:hover,
.ColorSwitcher--open .ColorSwitcher__control:before {
  color: #82b440;
}

.sticking .register-button a:hover {
  color: #fff;
}

.btn-primary, 
.btn-primary:focus, 
.btn-primary.focus, 
.btn-primary.disabled, 
.btn-primary:disabled, 
.btn-primary:not(:disabled):not(.disabled):active, 
.btn-primary:not(:disabled):not(.disabled).active, 
.show > .btn-primary.dropdown-toggle, 
.btn-primary:not(:disabled):not(.disabled):active:focus, 
.btn-primary:not(:disabled):not(.disabled).active:focus, 
.show > .btn-primary.dropdown-toggle:focus
.sticking.header-style-two .register-button a, 
.sticking.header-style-three .register-button a,
.sticking.header-style-two .register-button a, 
.sticking.header-style-three .register-button a,
.single-reason h3:before,
.single-ch-plan span.standard-plan-style-two,
.review-swiper-pagination .swiper-pagination-bullet-active,
.single-ch-plan a:hover,
.back-to-top a,
.sticking .register-button a,
.pricing-nav-switch ul li a.active,
.vps-pricing-feature .progress,
.single-feature:hover .btn-secondary, 
.single-feature.active .btn-secondary,
.single-ch-plan span.standard-plan,
.vps-pricing-plans li span,
.header-style-three .register-button a,
.contact-info .footer-social-icons a:hover,
.sidebar-social-icons li a:hover,
.member-hover-wrap:before,
.ColorSwitcher__control {
  background-color: #82b440;
}

.sticking.header-style-two .register-button a:hover, 
.sticking.header-style-three .register-button a:hover,
.btn-primary:hover,
.back-to-top a:hover,
.sticking .register-button a:hover,
.single-feature:hover .btn-secondary:hover, 
.single-feature.active .btn-secondary:hover,
.header-style-three .register-button a:hover {
  background-color: #a5d866;
}

.main-banner-style-two .banner-content ul li:last-child a, 
.main-banner-style-three .banner-content ul li:last-child a,
.review-swiper-pagination .swiper-pagination-bullet,
.contact-info .footer-social-icons a:hover,
.sidebar-social-icons li a:hover {
  border-color: #82b440;
}

.main-banner-style-two .banner-content ul li:last-child a:hover, 
.main-banner-style-three .banner-content ul li:last-child a:hover {
  border-color: #a5d866;
}

.section-title h2:before {
    background-image: -webkit-linear-gradient(135deg, transparent 16px, #82b440 0), 
                      -webkit-linear-gradient(45deg, transparent 16px, #82b440 0);
    background-image: -o-linear-gradient(135deg, transparent 16px, #82b440 0), 
                      -o-linear-gradient(45deg, transparent 16px, #82b440 0);
    background-image: linear-gradient(-45deg, transparent 16px, #82b440 0), 
                      linear-gradient(45deg, transparent 16px, #82b440 0);
}
.zigzag-border:before {
    background-image: -webkit-linear-gradient(135deg, transparent 14px, #82b440 0), 
                      -webkit-linear-gradient(45deg, transparent 14px, #82b440 0);
    background-image: -o-linear-gradient(135deg, transparent 14px, #82b440 0), 
                      -o-linear-gradient(45deg, transparent 14px, #82b440 0);
    background-image: linear-gradient(-45deg, transparent 14px, #82b440 0), 
                      linear-gradient(45deg, transparent 14px, #82b440 0);
}